# development / test / production
NODE_ENVIRONMENT="development" 
# Create a random key to JWT_SECRET - DONT SHARE
JWT_SECRET="8290582903MQ8A9JF843M83N93UBV983WJ8R9FE8VM389J4"

# DB Credentials
DATABASE_URL="postgresql://[DATABASE_USERNAME]:[DATABASE_PASSWORD]@localhost:5432/[DATABASE_NAME]"
DATABASE_NAME="DB_NAME"
DATABASE_USER="DB_USER"
DATABASE_PASSWORD="DB_PASSWORD"